@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
   
}

body{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.nav-background{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding-top: 16px;
}

.cabecalho-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    gap: 32px;
    font-weight: 300px;
    cursor: pointer;

}

.cabecalho-link a{
    color: #fff;
   font-size: 1.5625rem;
   transition: all .3s ease-in-out;

}

.cabecalho-link a:hover{
    color: #14c28e;
    font-size: 1.875rem;
}

.logo{
    width: 4.375rem;
    height: 4.375rem;
    background: transparent;
    color: #14c28e;
    border: .0625rem solid  #14c28e;
    border-radius: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    cursor: pointer;


}

button{
    white-space: nowrap;
    color: #14c28e;
    background: transparent;
    border: solid 1px #14c28e;
    border-radius: 15px;
    padding: 5px;
    font-size: .9375rem;
    width: 9.375rem;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #14c28e;
    color: #fff;
}

.btn-contato{
    background-color: #14c28e;
    color: #fff;
    display: flex;
    width: auto;
    font-size: 1.25rem;
    margin-left: 6.25rem;
}

.btn-contato:hover{
    background-color: transparent;
    color: #14c28e;
    border: 1px solid #14c28e;
}

.container-text{
    padding: 21.875rem 0 0 8.125rem;
}

.text h3{
    color: #96f5f0;
    font-size: 1.25rem;
}

.text h1{
    color: #fff;
    margin-top: .625rem;
    font-size: 3.75rem;
}

.verde{
    color: #14c28e; 
}

.text p{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: .625rem;
}


.socias{
    margin-top: .3125rem;
    font-size: 1.5625rem;
}

.socias a{
    color: #14c28e;
    padding: .625rem;
    transition: 0.5s;
}

.socias a:hover{
    font-size: 1.875rem;
}




.btn-sobre{
    margin-top: 1.875rem;
}

.background-color-sobre{
    background-color: #030305;
    width: 100%;
    padding: 3.125rem;
}

.background-color-sobre img{
    width: 50%;
    height: auto;
    box-shadow: #fff;
    
}

aside{
    position: absolute;
    top: 0;
    right: 180px;
    display: flex;
    overflow: hidden;
}

.icon-menu .menu{
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    display: none;
}

#barra-menu{
    background-color: #191919;
    height: 100vh;
    width: 0px;
    transition: 0.3s all;
}

#barra-menu ul li{
    list-style: none;
    padding: 15px;
}

#barra-menu ul li a{
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    transition: 0.3s;
}

#barra-menu ul li a:hover{
    border: solid 1px #fcfcfc;
    padding: 10px;
    border-radius: 15px;
    background-color: #14c28e;
}

.c-icon{
    display: none;
}

.text-sobre{
    width: 60%;
}

.main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.text-sobre h1{
    color: #fff;
    font-size: 5rem;
    text-transform: capitalize; /*deixa a primeira letra maiuscula */
    margin-bottom: 1.25rem;
}

.text-sobre h5{
    color: #fff;
    letter-spacing: .125rem; /*espaçamento entre as letras */
    font-size: 1.375rem;
    margin-bottom: 1.5625rem;
    text-transform: capitalize;
}

.text-sobre p{
    color: #fcfcfc;
    letter-spacing: .0625rem;
    line-height: 1.75rem; /*espaçamento entre as linhas */
    font-size: 1.125rem;
    margin-bottom: 2.8125rem;
}

.btn-conversar{
    background-color: #14c28e;
    color: #fff;
    text-transform: none;
    width: auto;
    border: .125rem solid transparent;
    font-weight: bold ;
    padding: .8125rem 1.25rem;
    border-radius: .625rem;
    transition: .5s;
}


.btn-conversar:hover{
        text-shadow: -0.0625rem -0.0625rem 0rem #1df2f0, .0625rem .0625rem 0rem #E94BE8;
        background-color: transparent;
        border: .0625rem solid rgb(0, 255, 213);
        box-shadow: 0rem .625rem .625rem -0.625rem rgb(0, 255, 213);
      
}

.animation{
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: .125rem solid #14c28e;
    animation: pisca normal infinite .8s, escrever normal 10s steps(55) both;
}

 .full {
   color: #96f5f0;
}


.container-services{
    background-color: #101010;
    width: 100%;
    height: 100%;
    padding: 6.25rem 0rem;
}

.container-services h1{
    color: #fff;
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 3.125rem;
    
}

.container-services-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 31.25rem;
    flex-wrap: wrap;
}

.container-services-cards{
    background-color: #191919;
    height: 26.25rem;
    width: 23.75rem;
    border: 1.25rem;
    border-radius: 1.25rem;
    margin: .9375rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.4s;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 .9375rem 1.875rem -0.3125rem;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
}

.container-services-cards h2{
    color: #fff;
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
    text-align: center;
    text-decoration: dashed;
}

.container-services-cards i{
    color: #14c28e      ;
    font-size: 3.125rem;
    margin: 1.25rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-services-cards p{
    color: #bdbdbd;
    font-size: .9375rem;
    margin: 1.25rem 1.25rem; 
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1.5625rem;
}

.container-services-cards:hover{
    transform: translateY(-24px);
    border: #14c28e 0.2em solid;
    border-radius: 40px 0 40px 0;
}

.btn-ler{
    background-color: #14c28e;
    color: #fff;
    text-transform: none;
    border: .125rem solid transparent;
    font-weight: bold ;
    padding: .8125rem 1.25rem;
    border-radius: .625rem;
    transition: .5s;
    margin-top: .1875rem;
}

.btn-ler:hover{
    background-color: transparent;
    border: .125rem solid #14c28e;
}

 .cop{
    color: #14c28e;
    font-size: .9375rem;
    margin: .625rem 0rem;
    font-weight: bold;
}

.cop i {
    color: #14c28e;
    font-size: .9375rem;
    margin: .3125rem .3125rem;
    font-weight: bold;
}

.footer-contato i{
    color: #14c28e;
    background-color: transparent;
    text-decoration: none;
}   

.footer-contato{
    background-color: #000000;    
    width: 100%;
    padding: 1.875rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top i{ 
    display: flex;
    justify-content: center;
    text-decoration: underline;
    width: 100%;
    background-color: #000000;
    color: #14c28e;
    cursor: pointer;
    font-size: 1.875rem;
    transition: 0.5s;
    overflow: hidden;
}



::-webkit-scrollbar{
    width: .625rem;
    
}

::-webkit-scrollbar-track{
    background: #242424;
}

::-webkit-scrollbar-thumb{
    background: #14c28e;
    border-radius: .3125rem;
}






@keyframes pisca{
   100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}



/* Media Query */

@media screen and (max-width: 1200px) {



    .text-sobre h1{
        font-size: 2.625rem;
    }

    .text-sobre p{
        font-size: 1rem;
    }
    
    
}

@media screen and (max-width: 900px){

    .cabecalho-link{
        display: none;
    }

    #barra-menu{
        height: 100vh;
        z-index: 1;
    }

    .icon-menu .menu{
        display: block;
    }

    .background-color-sobre{
        padding: 0;
    }

    .main-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 3.125rem;
        
    }

    .main-sobre img{
        width: 60%;
        height: 60%;
    }

    .text-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-sobre h1{
        font-size: 2.625rem;
    }

    .text-sobre p{
        font-size: 1.125rem;
        /* text-align: center; */
    }

    .container-services h1{
        font-size: 2.625rem;
    }
}

@media screen and (max-width: 550px) {
    .container-services h1{
        font-size: 2.4rem;
    }
}   